<div class="comment">
  <div class="comment-content"><%= comment.content %></div>
  <div class="comment-user">Posted by:<%= comment.user.username %> on <%= comment.created_at %></div>
  <br>
</div>