<div class="comment">
  <div class="comment-content"><%= comment.content %></div>
  <div class="comment-user">Posted by:<%= link_to comment.user.username, comment.user %> on <%= comment.created_at %></div>
  <br>
</div>