<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

 <%= render @posts %>

<br>

<%= link_to 'New Post', new_post_path %>
