<%= render @post %>
<br>
<strong>Add a Comment:</strong>
<%= render 'comments/postform' %>
<br>
<div class="comment-header">Comments:</div>
<%= render @post.comments.where(comment_id: nil).reverse %>

<%= link_to 'Back', posts_path %>